.hero_banner
{
    height:400px;
    width: 100%;
    background-image: url("bg.gif");
  
  }  .banner-text
{
    color:aliceblue;
    position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-family: 'Amatic SC', cursive;
}
.containers
{
    position: relative;
    text-align: center;
    color: white;
    margin-top: -20px;
}
.primary-section
{
    background-color: black;
height: 400px;
width:100% ;
}
.hide
{
    display: none;
}
.w3-bar {
    width: 100%;
    overflow: hidden;
    height: 55px;
}
.w3-bar .w3-bar-item {
   
    font-size: 15px;
}
.w3-button:hover {
    color: rgb(0, 0, 0) !important;
    text-decoration-style: none;
    text-decoration: none;
    background-image: darkblue;
    background-color: white;
}
.mb20
{
    margin-bottom: 20px;
}
.tiles
{
    background-color: cadetblue;
    color: aliceblue;
    display: flex;
}
.align
{
    text-align: center;
    font-size: 20px;
}
.colorit
{
    width: 30% !important;
    background-color: ghostwhite;
    box-shadow: 3px solid black;
    box-shadow: 10px 5px 50px rgb(1 2 5 / 20%);
}  
.divcenter
{
    margin: 0 auto;
    width: 100% !important;
    max-width: 950px !important;
}